/* #region ---- Reset ---- */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* #endregion ---- Reset ---- */

/* #region ---- Typography ---- */

body{
    font-family: 'PT Sans', sans-serif;
}
.pt-sans-regular {
    font-family: "PT Sans", sans-serif;
    font-weight: 400;
    font-style: normal;
}
.pt-sans-bold {
    font-family: "PT Sans", sans-serif;
    font-weight: 700;
    font-style: normal;
}

/* #endregion ---- Typography ---- */

/* #region ---- Flex-rules ---- */

.row{
    display: flex;
    flex-wrap: wrap;
}
.jst-cnt{
    justify-content: center;
}
.jst-btwn{
    justify-content: space-between;
}
.align-item{
    align-items: center;
}
.grow{
    flex-grow: 1;
}

/* #endregion ---- Flex-rules ---- */

/* #region ---- Header ---- */

.header{
    background-color: #0084fd;
    padding: 20px 10px;
}
.respons-menu-hamb{
    display: none;
}
/* #region ---- Header-Media-Query ---- */

@media screen and (max-width: 992px){
    .respons-menu{
        display: none;
    }
    .respons-menu-hamb{
        display: block;
    }
}

/* #endregion ---- Header-Media-Query ---- */

/* #endregion ---- Header ---- */

/* #region ---- General ---- */

.container{
    max-width: 1140px;
    margin: 0 auto;
}
.col{
    padding: 0 10px;
}
.card{
    height: 100%;
    background-color: transparent;
}
.link{
    list-style: none;
    gap: 30px;
}
.link a{
    text-decoration: none;
    color: white;
}

/* #endregion ---- General ---- */
  