/* #region ---- Reset ---- */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* #endregion ---- Reset ---- */

/* #region ---- Typography ---- */

body{
    font-family: 'PT Sans', sans-serif;
}
.pt-sans-regular {
    font-family: "PT Sans", sans-serif;
    font-weight: 400;
    font-style: normal;
}
.pt-sans-bold {
    font-family: "PT Sans", sans-serif;
    font-weight: 700;
    font-style: normal;
}
.text-align{
    text-align: center;
}

/* #endregion ---- Typography ---- */

/* #region ---- General ---- */

.container{
    max-width: 1140px;
    margin: 0 auto;
}

.card{
    background-color: transparent;
    border-radius: 25px;
    padding: 40px 25px;
}
.link{
    list-style: none;
    gap: 30px;
}
.link a{
    text-decoration: none;
    color: white;
}
img{
    width: 100%;
}

/* #endregion ---- General ---- */

/* #region ---- Flex-rules ---- */

.row{
    display: flex;
    flex-wrap: wrap;
}
.jst-cnt{
    justify-content: center;
}
.jst-btwn{
    justify-content: space-between;
}
.align-item{
    align-items: center;
}
.grow{
    flex-grow: 1;
    padding-right: 23px;
}
.column{
    flex-direction: column;
}
.half-col{
    width: 50%;
}

/* #endregion ---- Flex-rules ---- */

/* #region ---- Buttons ---- */

.btn{
    padding: 10px 15px;
    border: transparent;
    background-color: white;
    color: black;
    border-radius: 25px;
    cursor: pointer;
}
.btn-big{
    padding: 15px 45px;
    color: white;
    font-weight: 700;
}
.btn-bigger{
    padding: 30px 80px;
    background-color: white;
    color: #9792e4;
}
.btn-blue{
    background-color: #0084fd;
}
.btn-purple{
    background-color: #9792e4;
}
.radius{
    border-radius: 50%;
    border: transparent;
    padding: 20px;
    font-size: 20px;
}

/* #endregion ---- Buttons ---- */

/* #region ---- Header ---- */

.header{
    background-color: #0084fd;
    padding: 20px 30px;
}
.respons-menu-hamb{
    display: none;
}
/* #region ---- Header-Media-Query ---- */

/* Tablet+Mobile */

@media screen and (max-width: 992px){
    .respons-menu{
        display: none;
    }
    .respons-menu-hamb{
        display: block;
    }
}

/* #endregion ---- Header-Media-Query ---- */

/* #endregion ---- Header ---- */

/* #region ---- Intro Section ---- */

.intro{
    padding: 50px 0;
}
.intro .col{
    width: 32%;
    margin-bottom: 20px;
}
.intro .card{
    background-color: #b5ddff;
}
.intro h2 , .intro i:not(.fa-apple){
    color: #0084fd;
}
.intro p{
    color: #5a6e7f;
    font-weight: 700;
    line-height: 2;
}
.col h2, .intro .col p{
    margin-bottom: 40px;
}
.grow .card{
    height: 100%;
}
.grow .card{
    padding-bottom: 0;
}
.text-align > i{
    font-size: 50px;
    margin-bottom: 40px;
}

/* #region ---- Intro Section-Media-Query---- */

/* Tablet */

@media screen and (max-width:992px){
    main{
        padding: 0 30px;
    }
    .column{
        width: 100%;
    }
    .card{
        padding: 40px 25px 0;
    }
}

/* Mobile */

@media screen and (max-width:768px){
    .intro .col{
        width: 100%;
    }
    .intro img{
        padding-top: 20px;
        margin: 0 auto;
    }
    
}

/* #endregion ---- Intro Section-Media-Query---- */

/* #endregion ---- Intro Section ---- */

/* #region ---- Planning Section ---- */

.planning{
    background-color: #9792e4;
    padding: 135px 0 60px;
    color: white;
}
.planning .col{
    padding: 0 130px 0 ;
}
.plan{
    padding-bottom: 140px;
    position: relative;
    right: 33px;
}
.planning .card{
    background-color: white;
    position: relative;
    left: 33px;
    color: black;
}
.planning .text-align h2{
    margin-top: 30px;
}
.planning p{
    line-height: 2;
}
.radius{
    margin-top: 40px;
}

/* #endregion ---- Planning Section ---- */

